.coffee-block {
  background-color: $color-background;
  padding: 128px 0 60px 0;
  position: relative;
  @include media-mobile {
    padding: 30px 0 20px 0;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 35%;
    background-color: $color-primary;
    top: 0;
    left: 0;
    @include media-mobile {
      display: none;
    }
  }
}

.coffee-block__content {
  margin-top: 72px;
}

.coffee-block .slider__content {
  transition: all 0.5s;
}

.coffee-block__content .slider__column {
  margin-right: 30px;
  flex-basis: 48.5%;
  @include media-tablet {
    flex-basis: 100%;
  }
}

.coffee-block__content .coffee-card {
  margin-bottom: 30px;
  @include media-mobile {
    flex-direction: column;
    text-align: center;

    img {
      margin: auto;
    }
  }
}
