.combo {
  position: relative;
  padding: 88px 0;
  background-color: $color-light;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    content: "";
    background: $color-primary;
    @include media-mobile {
      display: none;
    }
  }
}

.combo__content {
  margin-top: 64px;
  @include media-mobile {
    .slider__content {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .coffee-card {
    flex-direction: column;
    height: 100%;
  }
}

.combo .slider__column {
  flex-basis: 31%;
  flex-shrink: 0;
  margin-right: 30px;
  @include media-mobile {
    flex-basis: 100%;
    width: 100%;
    margin-right: 0;
  }
}

.combo .coffee-card__image img {
  height: 300px;
}

.combo .coffee-card {
  @include media-mobile {
    text-align: center;
  }
}
