.combo {
  padding: 88px 0;
}

.combo__content {
  margin-top: 64px;
}

.combo .slider__column {
  flex-basis: 31%;
  flex-shrink: 0;
  margin-right: 30px;
}

.combo .coffee-card__image img {
  height: 300px;
}
