.combo {
  padding: 88px 0;
  background-color: $color-light;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background: $color-primary;
  }
}

.combo__content {
  margin-top: 64px;
}

.combo .slider__column {
  flex-basis: 31%;
  flex-shrink: 0;
  margin-right: 30px;
}

.combo .coffee-card__image img {
  height: 300px;
}
