.gift {
  padding: 80px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    display: block;
    top: 0;
    left: 0;
    background-color: $color-background;
    z-index: -1;
  }

  .coffee-card__content {
    padding-left: 64px;
    flex-grow: 1;
  }
}

.gift__title {
  @include media-mobile {
    text-align: center;
  }
}

.gift__content {
  margin-top: 66px;
}

.gift__content .coffee-card__image {
  flex-basis: 490px;
  padding: 27px;

  > img {
    margin: 0 auto;
  }
}

.gift__controls {
  display: flex;
  flex-direction: column;

  @include media-mobile {
    flex-direction: row;
  }
}

.gift__control-item {
  @include font(3rem, 3.4rem, bold);
  padding: 65px 38px;
  background-color: $color-background;
  border: none;
  &_selected {
    background-color: $color-light;
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
  }

  &:hover {
    background-color: $color-accent;
  }

  &:focus {
    outline: none;
  }

  @include media-mobile {
    padding: 1rem 1.5rem;
  }
}

.gift__tabs {
  display: flex;
  @include media-mobile {
    flex-direction: column-reverse;
    .coffee-card {
      flex-direction: column;
    }
    .coffee-card__content {
      padding: 1rem;
    }
  }
}

.gift__list {
  overflow: hidden;
  height: 300px;
  flex-grow: 1;

  @include media-tablet {
    height: 350px;
  }

  @include media-mobile {
    height: 615px;
  }
}

.gift__item {
  height: 300px;

  .coffee-card {
    height: 100%;
  }

  @include media-tablet {
    height: 350px;
  }
  @include media-mobile {
    height: 615px;
  }
}

.gift__list .coffee-card__image {
  flex-basis: 200px;
}
