.header {
  background-color: $color-background;
}
.header__block-1 {
  padding-top: 72px;
  padding-bottom: 64px;
  background: url("../img/header/header-pic.png");
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-tablet {
    min-height: 444px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @include media-mobile {
    background: none;
    min-width: auto;
  }
}

.header__block-2 {
  background-color: $color-primary;
  padding-top: 72px;
  padding-left: 56px;
  padding-bottom: 10px;
  padding-right: 25px;
  @include media-tablet {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__nav {
  margin-top: 118px;
  @include media-tablet {
    display: none;
  }
}
.header__brand {
  max-width: 486px;
}
.header__layout-2-column {
  @include column2d(80%, 20%);
  @include media-tablet {
    flex-wrap: nowrap;
  }
}

.header__icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  @include media-mobile {
    flex-direction: column;
  }
}
