.service-block {
  padding: 87px 0 72px;
  background-color: $color-background;
}
.service-block__title {
  margin-bottom: 72px;
}

.service-block__content {
  @include media-mobile {
    .layout-4-column {
      > * {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
