@mixin font($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin column2d($width1, $width2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > :first-child {
    flex-basis: $width1;
  }
  > :last-child {
    flex-basis: $width2;
  }
}

@mixin media-laptop {
  @media (max-width: $content-width-desktop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $content-width-tablet) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $content-width-mobile) {
    @content;
  }
}
