$color-primary: #415167;
$color-accent: #c7a17a;
$color-background: #edf0f5;
$color-background-card: #979797;
$color-light: #fff;
$color-additional: #151d28;

$content-width-desktop: 1140px;
$content-width-tablet: 768px;
$content-width-mobile: 320px;
