.brand {
  @include font(54px, 70px, bold);
  @include media-mobile {
    font-size: 2rem;
  }
}

.brand__item {
  display: block;
  text-transform: uppercase;

  &_colored {
    background-color: $color-accent;
    color: $color-background;
  }
}
