.cart-checkout__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.cart-checkout__name {
  margin-right: 15px;
}

.cart-checkout__price {
  min-width: 70px;
}

.cart-checkout__close-icon {
  width: 16px;
  height: 16px;
  margin-left: 15px;

  svg {
    width: 16px;
    height: 16px;
  }
}
