.cart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 38px;
  height: 38px;
  text-decoration: none;
  background: url(../img/header/IC_CART.svg);
  background-repeat: no-repeat;
  background-position: left, bottom;
}
.cart__badge {
  @include font(1.4rem, 2rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  min-height: 22px;
  color: $color-background;
  background-color: $color-accent;
  border-radius: 50%;
}
