.link-button {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  color: $color-primary;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  @include font(1.6rem, 2.2rem, bold);
  &:hover,
  &:active {
    cursor: pointer;
    background-color: $color-accent;
  }

  &_buy {
    color: $color-background;
    background-color: $color-accent;
  }

  &_cart-order {
    display: inline-flex;
  }
}
