.navigation {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
}

.navigation__link {
  @include font(1.6rem, 2.6rem, normal);
  display: block;
  text-decoration: none;
  color: $color-background;
  padding: 8px 0;
  &:hover,
  &:active {
    color: $color-accent;
  }
}

.mobile-menu-container {
  position: fixed;
  top: 175px;
  right: 11px;
  z-index: 100;
  transition: all 0.7s;
  transform: translate(115%, 0);
  width: 140px;
  padding: 10px;
  background-color: $color-primary;

  &.show {
    transform: translate(0, 0);
    display: block;
  }
}
